#sistemasG{
    width: 70%;
    font-size: 18px;
    background-color: white;
}
#sistemaD{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    font-size: 18px;
    background-color: white;
}
#sistemaB{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    font-size: 18px;
    background-color: white;
}
#sistemaH{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    font-size: 18px;
    background-color: white;
}
#sistemaO{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: center;
    font-size: 18px;
    background-color: white;
}
#tabelaV{
    background-color: white;
}