#menu{
    background-color: white;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
#linkMenu{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 100%;
    display: block;
    padding: 10px;
    border-right: 1px solid #89C2D9;
    border-left: 1px solid #89C2D9;
}#linkMenu:hover{
    background-color: ghostwhite;
}

#rodape{
     width: 100%;
     background-color: #89C2D9;
     margin: 0px;
     padding: 5px;
     border-top:  2px solid #5390D9;
     font-size: 18px;
}
